{% extends "BASE.html" %}
{% block nav %}
<a class="nav-link active" aria-current="page" href="{% url "article_add" %}">Создание задачи</a>
<a class="nav-link active" aria-current="page" href="{% url "update_view" article.pk %}">Изменение</a>
{% endblock %}

{% block content %}
    <div class="container">
    {{ article.title }}
    <br>
    {{ article.author }}
    <br>
    {{ article.content }}
    <br>
    {% if article.date %}
        <p>Дата окончания задачи: {{ article.date }}</p>
    {% else %}
        <p></p>
    {% endif %}
<a href="{% url "index" %}" class="btn btn-success">На главную</a>
    </div>
{%  endblock %}