{% extends "BASE.html" %}
{% block title %}Создание статьи{% endblock %}
{%  block content %}
    <div class="container">
        <form action="/articles/add/" method="post">
            {% csrf_token %}
            <label>Задача</label><br/>
            <input type="text" name="title"/><br/>
            <label>Доплнительная информация о задаче</label><br/>
            <textarea name="content"></textarea><br/>
            <label>Author:</label><br/>
            <input type="text" name="author"/><br/>
            <br/>
            <label for="">Время</label>
            <br>
            <input type="text" name="date" value="" placeholder="YYYY-mm-dd">
            <br>
            <label for="">Status</label>
            <br>
            <select name="status">
                {% for status in statuses %}
                    <option value="{{ status.0 }}">{{ status.1 }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <input type="submit" class="btn btn-outline-success" value="Send"/>
            <br>
            <br>
        </form>
        <a href="{% url "index" %}" class="btn btn-outline-dark">На главную</a>
    </div>
{% endblock %}