{% extends "BASE.html" %}
{% block nav %}
<a class="nav-link active" aria-current="page" href="{% url "article_add" %}">Создание задачи</a>
{% endblock %}

{% block content %}
    <div class="container">
{#        <a href="{% url "article_add" %}" class="btn btn-primary">Создание задачи</a>#}
        {% for article in articles %}
            <div style="border: 2px solid red;border-radius: 20px" class="mt-5 mb-5 w-50 p-5">
                <h3>Задача : {{ article.title }}</h3>
                <br>
                <span>Статус : {{ article.status }} - {{ article.get_status_dispay }}</span>
                <br>
                <br>
                <p><a href="{% url "article_view" article.pk %}" class="btn btn-dark">Подробнее</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}